# Node modules
node_modules/

# Env files (secrets/config)
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
tmp/
temp/
.cache/

# Build output (if you compile TS or bundle)
dist/
build/

# Coverage reports
coverage/
.nyc_output/

# OS-specific
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/

# Optional: TypeScript
*.tsbuildinfo

# Optional: Secrets / keys
*.pem
*.key



# Ignore CSVs and temp scripts inside src/models
/src/models/*.csv
/src/models/cleaned.csv
/src/models/messy.csv
/src/models/test.csv
/src/models/subcatoryupdated.csv
/src/models/subcatoryupdatedorg.csv
/src/models/subcatrioytesupdated.csv
/src/models/Montres Trading LLC products.csv
/src/models/Montres Trading LLC products final .csv

/src/models/impotProducts.js
/src/models/updateSubcategories.js
/src/models/updateSubcategories.js
/src/models/working.js

